.board {
  height: 65%;
  aspect-ratio: 1/1;
  border: 3px solid black;

  & .row {
    display: flex;
    height: 10%;
  }

  & .field {
    flex: 1;
    border: 1px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  & .water-shot {
    background: url(../../assets/water.gif);
    filter: grayscale(100%);
  }

  & .water {
    background-image: url(../../assets/water.gif);
    background-size: cover;
  }

  & .ship {
    background: rgba(0, 0, 0, 0.711);
  }

  & .ship-shot {
    background: url(../../assets/fire.gif), url(../../assets/water.gif);
    background-size: cover;
  }
}
