#setup-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 10% 75% 15%;
  gap: 10px;

  & h2 {
    grid-column: 1 / span 3;
    place-self: center;
  }

  & .ships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & button {
      width: 300px;
      height: 50px;
      margin: 5px;
    }
  }

  & .battlefield {
    place-self: center;
    height: 70%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 5px;

    & .row {
      height: 10%;
      display: flex;

      & .field {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.187);
      }

      & .active {
        background: green;
      }

      & .locked {
        background: gray;
      }
    }
  }

  & .controls {
    place-self: center;
    font-size: large;
    padding: 15px;

    & ul {
      margin-left: 30px;
    }

    & p {
      margin: 15px;
      max-width: fit-content;
    }
  }

  & #game-start {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
