.board {
  height: 75vh;
  //   width: 75vw;
  aspect-ratio: 1/1;
  border: 3px solid black;

  & .row {
    display: flex;
    height: 10%;
  }
  & .field {
    flex: 1;
    // height: 10%;
    border: 1px dotted gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
}
